body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C1C; /* Colore di sfondo scuro */
  color: #FFFFFF; /* Colore del testo chiaro */
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

main {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 5px;
  width: 300px;
  height: 200px;
  object-fit: contain; /* Adatta l'immagine mantenendo le proporzioni */
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

h1 {
  color: #FFFFFF;
}

.MuiFormControl-root,
.MuiInputLabel-root,
.MuiSelect-root,
.MuiMenuItem-root {
  color: #FFFFFF;
  background-color: #2C2C2C;
}
